h1{
    color:#fff;
    text-align:center;
}
p{
    color:#fff;
    text-align:center;
}
.aviso-data{
    color: #837979;
}

/*botão de voltar reciclado do de download*/
.return-button {
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    background-color: #b54810 !important;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
  }
  
  .download-svgIcon {
    width: 17px;
    transition-duration: 0.3s;
  }
  
  .download-svgIcon path {
    fill: white;
  }
  
  .return-button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    align-items: center;
  }
  
  .return-button:hover .edit-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
  
  }
  
  .return-button::before {
    display: none;
    content: "Voltar";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
  }
  
  .return-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
    }
    /*fim botão voltar*/
.imagem-aviso{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.container {
    background-color: #2c2e33;
    border-radius: 20px !important;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    max-width: 90%; /* Ocupa no máximo 90% da largura do contêiner pai */
    margin: 10px auto; /* Centraliza horizontalmente e adiciona espaçamento vertical */
}

@media (min-width: 600px) {
    .container {
        max-width: 80%; /* Ajuste para telas maiores */
        padding: 20px; /* Aumenta o padding em telas maiores */
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 70%; /* Ajuste para telas ainda maiores */
        padding: 30px; /* Aumenta ainda mais o padding */
    }
}
