/*DEFINIR UM TAMANHO PADRÃO PARA AS IMAGENS*/

h3 span{
    color: #b54810;
}

.container {
    all: unset !important;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #bdc1c7;
}
.container h3{
    color: #b54810 !important;
   
}



.news-carousel {
    border-radius: 20px !important;
    margin: 20px auto;
    width: 50%;
}

.news-item {
    background-color: #2c2e33;
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.news-item img {

    width: 100%;
    height: auto;
}

.news-item h3 {
    padding: 10px;
    font-size: 18px;
    color: #333;
}

.news-item a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
}



.news-item p {
    padding: 10px;
    font-size: 14px;
    color: #666;
}
