.frequencia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frequencia-box {
    border: none !important;
    background-color: #2c2e33 !important;
    color: #bdc1c7 !important;
    padding: 15px;
    border-radius: 20px;
    width: 80%;
}

.frequencia-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinha à esquerda e à direita */
    padding: 10px;
}

.frequencia-items ul {
    list-style: none; /* Tira a bolinha */
    padding: 0; /* Tira o espaçamento padrão */
    width: 100%;
}

.frequencia-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.frequencia-items li:nth-child(odd) {
    background-color: #27282c; /* Cor para linhas ímpares */
}




@media only screen and (max-width: 768px) {
    .frequencia-items {
        padding: 10px; /* Espaçamento específico para dispositivos móveis */
    }
}
