


/*Site background */
.custom-bg {
  width: 100%;
  height: 100vh;
  background-color: #23252c;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.light-orange-text{

  color: #FFA500;
}

/*classes predefinidas pra facilitar construção do site*/
.orange-text{
  color:#b54810 !important;
}
.white-color{
color:#bdc1c7 !important;
}
.bold-text{
  font-weight: bold !important;
}

.underline-border{
  border-bottom: solid 1px #bdc1c7 !important;
}

.background-color{
  background-color: #23252c !important;
}
.container-color{
 background-color: #2c2e33 !important; 
}

.rounded-box{
  border-radius: 20px !important;
}
/*LOGIN PAGE

Color for dark-theme
background #23252c
containers #2c2e33
h1 color #bdc1c7

strong orange tone #b54810

orange for navbar #db5e3c
other orange #e0603d
navbar icon tone #7c7d84
background for icon #3c2d2e

*/


.register-link a{
  
color: #bdc1c7 !important;
}
.register-link a:hover{
  
color: #b54810 !important;
}
.login-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 !important;
}
.login-button input{
border: none;
background-color: #b54810 !important; 
  
}
.login-button input:hover{
  background-color: #b54810 !important;
  box-shadow: 0 0 5px 2px #b54810;
  
    
  }

.login-form{
  width: 300px; 
  background-color: #2c2e33;
  padding: 20px;
  border-radius: 20px;
  color: #bdc1c7;
}
.login-form {
  border: none;
  color: #bdc1c7;
}


.form-text-input input {
  border: none !important;
  background-color: #23252c;
  color: #bdc1c7 !important;
  border-radius: 10px;
  outline: none !important;
  transition: background-color 0.25s ease, outline-color 0.25s ease;
}

/* Estilo para o input em focus */
.form-text-input input:focus {
  background-color: #23252c;
  outline: 2px solid #b54810 !important;
  box-shadow: 0 0 5px 2px #b54810;

}

/* Estilo para o input quando preenchido automaticamente pelo navegador */
.form-text-input input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #23252c inset;
  box-shadow: 0 0 0px 1000px #23252c inset;
  -webkit-text-fill-color: #bdc1c7 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.form-text-input input:-webkit-autofill:focus {
  background-color: #23252c;
  -webkit-box-shadow: 0 0 0px 1000px #23252c inset;
  box-shadow: 0 0 0px 1000px #23252c inset;
}
.form-text-input select{
  border: none;
  background-color: #23252c;
  color: #bdc1c7 !important;
  }
.form-text-input input::placeholder {
  color: #bdc1c7 !important;
 
}
.form-text-input select::placeholder {
  color: #bdc1c7 !important; 
}
.form-text-input textarea::placeholder {
  color: #bdc1c7 !important;

}

/**/

/*AVISOS */


/*PERFIL */
.profile-container {
  padding: 20px !important;
  background-color: #2c2e33;
  color: white;
  border-radius: 20px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
  
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-header {
  text-align: center;/*Alinha foto de perfil e botão no centro da página*/
  margin-bottom: 20px;
}

.file-input-wrapper {
  position: relative;
  margin-top: 10px;
  display: inline-block;
}

.file-input-wrapper input[type="file"] {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  opacity: 0 !important;
}

.file-input-wrapper label {
  padding: 5px;
  color: #000000;
  display: inline-block !important;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;  cursor: pointer !important;
}


/*END PERFIL */



.overall-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  width: 80%;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.overall-grade {
  font-size: 24px;
  font-weight: bold;
}




/*BOLETIM ALUNO*/

.page-text{
  color: #b54810 !important;
}



.grade-text{
  color: #b54810;

}
.grade-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c2e33;
  color:#bdc1c7;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 80%;
  margin: 20px auto;
  

}


.dropdown-item{
color:#bdc1c7 !important;
}
/* Ajuste de tamanho das barras para dispositivos móveis */

.nav-item svg{
  width: 10% !important;
}



  @media only screen and (max-width: 768px) {
    .nav-item svg{
      width: 13% !important;
    }
    .offcanvas-end
    {
    width: 70% !important; /* #6d6f74 Largura desejada para dispositivos móveis */
    }
    .grade-container {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
      width: 90%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

    
    }
    .dropdown-item img{
      width: 18% !important;
    }
   
    
 .mobile-chart-container canvas {
      height: 200px !important; /* altura das barras para dispositivos móveis */}

      .boletim_input {
        width: 50px; /* Define a largura desejada para o input */
        height: 30px; /* Define a altura desejada para o input */
        font-size: 14px; /* Define o tamanho da fonte do input */
      }
}


.grade-text {
  font-size: 18px;
  font-weight: bold;
}

.discipline-title {
  font-size: 24px;
  font-weight: bold;
}


/*END BOLETIM*/



/**/
.edit-nota {
  border-radius: 5px;
}
.titulo{
  text-align: center;
}
.same-size-img {
  height: 200px; 
  width: 100%;
  object-fit: cover;
}
.bar-container {
  padding: 10px;  
  background-color: #f0f0f0;  
  border: 1px solid #ccc;  
  width: 100%;  
}

.bar {
  height: 20px;  
  background-color: #3498db;  
  margin-bottom: 10px;  
  color: white; 
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
    padding: 0 10px;
}

/*STUDENT PROFILE CSS*/

/*NAV CSS*/
.navbar{
  background-color: #2c2e33 !important;
}
.navbar-toggler{
  box-shadow: #252525 0px 0px 5px !important;
  
}
.navbar-toggler .navbar-toggler-icon {
  filter: brightness(0) invert(1) !important; /* Aplica um filtro para inverter a cor */
}

.offcanvas, .dropdown-menu{
  
  background-color: #282a2f !important;
  box-shadow: #000000 0px 0px 5px !important;
}

.offcanvas-title{
  color: #b54810 !important;
}

.dropdown-menu{
  border:2px solid black !important;
}
.nav-item  {
  background-color: #282a2f!important;
  transition: color 0.3s ease;
  
}
.nav-item :hover {
  border-radius: 5px 5px 5px 5px;
  transition: border 0.3s ease;

  background-color: #3d3132 !important;
}
.dropdown-item:hover{
  background-color: #3d3132 !important;
  text-decoration: none !important;
  color: #b54810 !important;
}


.nav-link {
  color: #bdc1c7 !important;
}

.nav-link:hover {
  color: #b54810 !important;
  text-decoration: none !important;
}


/*END NAV CSS*/
/* Calendário */
* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.box {
  position: relative;
  padding-top: 5px;
  padding-bottom: 25px;
  z-index: 1000;
  border-radius: 30px;
}

.container-calendar {
  width: 90%; /* Alterado para ajustar à largura da tela */
  max-width: 500px; /* Limitando a largura máxima */
  align-items: center;
  justify-content: center;
  margin-top: 4rem !important;
  width: 100% !important;
}

.month {
  width: 100%;
  background-color: #b54810   ;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.month i {
  font-size: 1rem;
  cursor: pointer;
}

.month h1 {
  font-size: 1.4rem; /* Reduzindo o tamanho do cabeçalho */
  text-transform: uppercase;
  font-weight: 400;
}

.month h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.month p {
  font-size: 1rem; /* Reduzindo o tamanho do parágrafo */
  font-weight: 400;
  text-transform: uppercase;
}
.event-text{
  color: #b54810 !important;
}
.weekdays {

  background-color: #363636;
  color : #888888;
  width: 100%;
  padding: 0 0.2rem; /* Reduzindo o padding */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.weekdays div {
  font-size: 1rem; /* Reduzindo o tamanho da fonte */
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: calc(100% / 7);
}

.days {
  background-color: rgba(32,33,36,255);
  color: #888888;
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: .2rem;
  justify-content: space-between;
}

.days div {
  font-size: 1rem;
  margin: 0.3rem;
  width: calc(100% / 7 - 0.6rem); /* Ajustando o tamanho dos dias */
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days div:hover:not(.today) {
  background-color: #3d3132;
  color: #b54810;

  border-radius: 10px;
}

.prev, .next {
  font-size: 1.2rem;
}

.current-day {
  background-color: #b54810 !important;
  color: white;
  border-radius: 10px;
  
}
.calendar {
  border-radius: 20px 20px 20px 20px;
}
.event-day {
  background-color: #FFD700; /* Cor de fundo dourada para dias com eventos */
  color: #000; /* Cor do texto */
  border-radius: 10px;
}

.today {
  background-color: #FF4500; /* Cor de fundo laranja para o dia atual */
  color: white; /* Cor do texto */
  border-radius: 10px;
}
#eventForm{
  background-color: #2c2e33;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  border-left: 25%;
  border-right: 25%;
}
.event-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.event-form, .event-details {
  width: 45%;
  background-color: #2c2e33;
  text-align: center;
  border-radius: 20px;
  width: auto; 
    margin-left: auto;
    margin-right: auto; 
}
.event-form form {
  display: flex;
  flex-direction: column;
}
