
.custom-bg {
  width: 100%;
  height: 100vh;
  background-color: #f47a09;
}


.profile-container {
  padding: 20px !important;
  background-color: white;
  border-radius: 20px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

}

.profile-header {
  text-align: center;
  margin-bottom: 20px;

}

.profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.rounded-5 {
  border-radius: 5%;
}

.bg-dark.text-light {
  background-color: white !important;
  color: black !important;
}

.body,
a,
.navbar-brand,
.nav-link {
  color: black !important;
}


.rounded-4 {
  border-radius: 4%;
}

.red-text {
  color: red;
}

.custom-card {
  background-color: white;
  border: none;
  border-radius: 5%;
  color: black;
  padding: 20px;
  margin: 20px 0;
  transition: all 0.3s ease;
}


.custom-card:hover {
  background-color: #f0f0f0;
  transform: translateY(-5px);
}

.custom-card h5 {
  margin: 0;
}

.overall-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  width: 80%;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.overall-grade {
  font-size: 24px;
  font-weight: bold;
}

.button-container {
  display: flex;
  align-items: center;
}

.orange-button {
  background-color: orange;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding-bottom: -10px;
  
 
}
.orange-button a{
  text-decoration: none;
}

/*BOLETIM ALUNO*/
.grade-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 80%;
  margin: 20px auto;
  

}

.nav-item img{
  width: 8% !important;
}
.img_frequencia{
  width: 10% !important;
}


/* Ajuste de tamanho das barras para dispositivos móveis */

/*PERFIL*/
.navbar {
  height: 100px !important; /* Altura da navbar */
  /* Outros estilos da navbar */
}

.main-content {
  position: absolute; /* Tornar o posicionamento absoluto */
  top: 50% !important; /* Colocar o elemento a 50% do topo da página */
  left: 50% !important; /* Colocar o elemento a 50% da esquerda da página */
  transform: translate(-50%, -50%) !important; /* Transladar o elemento para o centro */
  display: flex !important;
  justify-content: center !important;
  align-items: center; /* Centralizar verticalmente */
  width: 80% !important;
  height: calc(100% - 50px); /* Altura da janela menos a altura da navbar */
  margin-top: 50px; /* Metade da altura da navbar */
}


/**/

/*MOBILE */
  @media only screen and (max-width: 600px) {
    .grade-container {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
      width: 90%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

    
    }
    .offcanvas-end
    {
    width: 60% !important; /* Largura desejada para dispositivos móveis */
    }

    .nav-item img{
      width: 15% !important;
    }

    .img_frequencia{
      width: 19% !important;
    }
    
 .mobile-chart-container canvas {
      height: 200px !important; /* altura das barras para dispositivos móveis */}

      .boletim_input {
        width: 50px; /* Define a largura desejada para o input */
        height: 30px; /* Define a altura desejada para o input */
        font-size: 14px; /* Define o tamanho da fonte do input */
      }
}


.grade-text {
  font-size: 18px;
  font-weight: bold;
}

.discipline-title {
  font-size: 24px;
  font-weight: bold;
}

.btn-custom {
  background-color: green;
  border-color: #f0f0f0;
  /* Outros estilos personalizados */
  border-radius: 7px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*END BOLETIM*/


/*FREQUENCIA*/

/* Estilos personalizados para evitar conflitos com Bootstrap */

/* Espaço no topo */
.container {
  margin-top: 4rem !important;
  width: 100% !important;



  /* Adiciona espaço no topo */
}
.card{
  border: none !important; /* Remove a borda */
  border-radius: 20px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important; /* Horizontal offset, Vertical offset, Blur radius, Spread radius, Color */


}

.navbar-bar {
  max-width: 90% !important; /* Ajuste conforme necessário */
  margin: 0 auto !important; /* Centraliza a barra de navegação */
}


/* Título centralizado */
.text-center {
  text-align: center;
}

/* Cor do cabeçalho do cartão personalizada */
.card-header {

  background-color: #323334 !important; /* Azul personalizado */
  color: white !important; /* Texto branco para contraste */
  border-top-left-radius: 20px !important; /* Arredonda o canto superior esquerdo do cabeçalho */
  border-top-right-radius: 20px !important; /* Arredonda o canto superior direito do cabeçalho */
}

/* Corpo do cartão */
.card-body {
  padding: 1.25rem !important; /* Adiciona espaço interno */
}

/* Lista para formatação */
.list-group {
  list-style: none; /* Remove marcadores de lista */
}

/* Espaçamento entre elementos da lista */
.list-group-item {
  padding: .75rem 1.25rem; /* Espaçamento interno */
  border: none; /* Remove bordas */
}

/* Estilos para as classes de botão de bootstrap */
.badge {
  padding: .4rem .75rem; /* Espaçamento interno */
  font-size: 1rem; /* Tamanho da fonte */
  border-radius: 10px; /* Borda arredondada */
}

/* Estilos para as cores dos distintivos de bootstrap */
.bg-danger {
  background-color: #dc3545; /* Vermelho */
  color: white; /* Texto branco para contraste */
}

.bg-success {
  background-color: #28a745; /* Verde */
  color: white; /* Texto branco para contraste */
}

/* Bordas arredondadas para os distintivos de bootstrap */
.rounded-pill {
  border-radius: 50px; /* Borda arredondada */
}

/**/
.edit-nota {
  border-radius: 5px;
}
.titulo{
  text-align: center;
}
.same-size-img {
  height: 200px; 
  width: 100%;
  object-fit: cover;
}
.bar-container {
  padding: 10px;  
  background-color: #f0f0f0;  
  border: 1px solid #ccc;  
  width: 100%;  
}

.bar {
  height: 20px;  
  background-color: #3498db;  
  margin-bottom: 10px;  
  color: white; 
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
    padding: 0 10px;
}

/*STUDENT PROFILE CSS*/

