.caixa_de_ocorrencias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .item_de_ocorrencia {
    color: white;
    background: #3a3b3f;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 30%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .date{
    color: #777;
    font-size: 0.9em;
    margin: 10px 0;
  }
  .vazio{
    background-color: #ff0000;
    color:black  !important;
    padding:8px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
}