/*HORA EXTRA*/
  .form-group{
    margin-bottom: 1rem;
  }
  .hora-text-info img{
    width: 70px !important; 
    height: 60px !important;
    border-radius: 20px;
    object-fit: cover !important;
    border: solid 1px #23252c;
  }
  .hour-blocks input{
    background-color: #23252c !important;
    border: none;
    color: #bdc1c7 !important;
  }
  .hour-blocks input::placeholder{
    background-color: #23252c !important;
    border: none;
    color: #bdc1c7 !important;
  }

  
  .hour-form input{
    background-color: #23252c !important;
    border: none;
    color: #bdc1c7 !important;
    width: 15%;
  }
  
  .hour-form input::placeholder{
    background-color: #23252c !important;
    border: none;
    color: #bdc1c7 !important;
  }
  
  