{% extends "app_cc/mainp.html" %}


{% block content %}



  <div class="bg-dark text-light p-5 rounded-4" style="margin-left: 150px; margin-right:150px">
    <h3 style="color: black;">Aviso x</h3>
    <p></p>
  </div>
  <br>
  <div class="bg-dark text-light p-5 rounded-4" style="margin-left: 150px; margin-right:150px">
    <h3 style="color: black;">Aviso x</h3>
    <p></p>
  </div>
  <br>
  <div class="bg-dark text-light p-5 rounded-4" style="margin-left: 150px; margin-right:150px">
    <h3 style="color: black;">Aviso x</h3>
    <p></p>
  </div>

  {% endblock content %}
