{% extends "app_cc/main.html" %}


{% block content %}
  <style>
    .navbar-brand,
    .nav-link {
      color: black !important;
    }

    .navbar-toggler-icon,
    .bg-dark.text-light {
      background-color: white !important;
      color: black !important;
    }

    body {
      background-color: orange;
    }

    .rounded-5 {
      border-radius: 5%;
    }
  </style>

  <!-- Retângulo escuro para os avisos -->
  <div class="bg-dark text-light p-5 rounded-5">
    <h3>Aviso x</h3>
    <p></p>
  </div>
  <br>
  <div class="bg-dark text-light p-5 rounded-5">
    <h3>Aviso x</h3>
    <p></p>
  </div>
  <br>
  <div class="bg-dark text-light p-5 rounded-5">
    <h3>Aviso x</h3>
    <p></p>
  </div>
{% endblock content %}