{% extends "app_cc/main.html" %}

{% block content %}

  <!-- Content -->
  <div class="container">
    <h2 class="text-center mb-4" style="font-size: 32px; font-weight: lighter;">DISCIPLINAS</h2>
    
    {% for nota in notas %}
    <div class="grade-container">
      <h5>{{ nota.disciplina }}</h5>
      <div class="nota-container">
        <p class="grade-text">
          <h5>{{ nota.nota }}</h5>
        </p>
      </div>
    </div>
    {% empty %}
    <p>Nenhuma nota encontrada.</p>
    {% endfor %}
    
  </div>

  <!-- Button -->
  <div class="text-end mt-3">
    <button class="orange-button" onclick="window.location.href='mediag.html'">></button>
  </div>

{% endblock content %}