{% extends "app_cc/mainp.html" %}


{% block content %}

  <style>
    .navbar-brand,
    .nav-link {
      color: black !important;
    }

    .navbar-toggler-icon,
    .bg-dark.text-light {
      background-color: white !important;
      color: black !important;
    }

    body {
      background-color: orange;
    }

    .custom-card {
      background-color: white;
      border: none;
      border-radius: 5%;
      color: black;
      padding: 20px;
      margin: 20px 0;
      transition: all 0.3s ease;
    }

    .custom-card:hover {
      background-color: #f0f0f0;
      transform: translateY(-5px);
    }

    .custom-card h5 {
      margin: 0;
    }

    .overall-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f0f0f0;
      width: 80%;
      margin-top: 20px;
      padding: 20px;
      border-radius: 10px;
    }

    .overall-grade {
      font-size: 24px;
      font-weight: bold;
    }

    .button-container {
      display: flex;
      align-items: center;
    }

    .orange-button {
      background-color: orange;
      color: white;
      padding: 8px 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .grade-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f0f0f0;
      padding: 10px 20px;
      border-radius: 10px;
      margin-top: 20px;
      width: 100%;
    }

    .grade-text {
      font-size: 18px;
      font-weight: bold;
    }

    .discipline-title {
      font-size: 24px;
      font-weight: bold;
    }
  </style>

  <!-- Content -->
  <div class="container">
    <h2 class="text-center mb-4" style="font-size: 32px; font-weight: lighter;">DISCIPLINAS</h2>
    <div class="grade-container">
      <h5>DISCIPLINA 1</h5>
      <p class="grade-text">8.5</p>
    </div>
    <div class="grade-container">
      <h5>DISCIPLINA 2</h5>
      <p class="grade-text">7.8</p>
    </div>
    <div class="grade-container">
      <h5>DISCIPLINA 3</h5>
      <p class="grade-text">9.2</p>
    </div>
    <div class="grade-container">
      <h5>DISCIPLINA 4</h5>
      <p class="grade-text">6.5</p>
    </div>
    <div class="grade-container">
      <h5>DISCIPLINA 5</h5>
      <p class="grade-text">8.0</p>
    </div>
    <div class="grade-container">
      <h5>DISCIPLINA 6</h5>
      <p class="grade-text">9.5</p>
    </div>
  </div>

  <!-- Button -->
  <div class="text-end mt-3">
    <button class="orange-button" onclick="window.location.href='mediag.html'">></button>
  </div>

{% endblock content %}

