{% extends "app_cc/mainp.html" %}


{% block content %}

    <style>
    .navbar-brand,
    .nav-link {
      color: black !important;
    }

    .navbar-toggler-icon,
    .bg-dark.text-light {
      background-color: white !important;
      color: black !important;
    }

    body {
      background-color: orange;
    }

    .rounded-5 {
      border-radius: 5%;
    }
  </style>



<!--NÃO PRECISA COLOCAR NO FINAL AS TAGS DE </BODY> </HTML> E ETC SO PRECISA COLOCAR O CONTEUDO, O RESTO VAI SER USADO DA MAINP.HTML-->
{% endblock content %}