{% extends 'app_cc/main.html' %}
{% block content %}
<h1 class="titulo">DIÁRIO</h1>
<div class="container">
    <p id="data" class="text-end mt-3"></p> <!-- Adiciona um parágrafo para exibir a data atual -->
    <form id="diarioForm">
        

        <!-- Select para escolher a disciplina -->


        {% if diarios %}
    <h2>Diários Salvos:</h2>
    <ul>
        {% for diario in diarios %}
        <li>{{ diario.disciplina }} - ({{ diario.data }})<br>{{ diario.titulo }}<br>{{diario.texto}} </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nenhum diário encontrado.</p>
    {% endif %}
{% endblock content %}
