{% extends 'app_cc/mainp.html' %}
{% block content %}
<h1 class="titulo">DIÁRIO</h1>
<div class="container">
    <!-- Formulário para inserir um novo diário -->
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="disciplina" class="form-label">Disciplina:</label>
            <select class="form-select" name="disciplina" id="disciplina">
                <option value="Matemática">Matemática</option>
                <option value="Português">Português</option>
                <option value="História">História</option>
                <!-- Adicione outras disciplinas conforme necessário -->
            </select>
        </div>

        <div class="mb-3">
            <label for="tituloDiario" class="form-label">Título do Diário:</label>
            <input type="text" class="form-control" id="tituloDiario" name="titulo" placeholder="Insira o título do diário" required>
        </div>

        <div class="mb-3">
            <label for="textoDiario" class="form-label">Texto do Diário:</label>
            <textarea class="form-control" id="textoDiario" name="texto" rows="5" placeholder="Digite o texto do diário" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Enviar Diário</button>
    </form>

    <!-- Exibe os diários salvos -->
    {% if diarios %}
    <h2>Diários Salvos:</h2>
    <ul>
        {% for diario in diarios %}
        <li>{{ diario.disciplina }} - ({{ diario.data }})<br>{{ diario.titulo }}<br>{{diario.texto}} </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nenhum diário encontrado.</p>
    {% endif %}
</div>
{% endblock content %}
