{% extends "app_cc/mainp.html" %}

{% block content %}
  

  <!-- Adicionando blocos de aluno -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card" style="margin: 20px 0;">
          <div class="card-header">ALUNO 1</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FREQUÊNCIA
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FALTA
              <span class="badge bg-primary rounded-pill">2</span>
            </li>	 
          </ul>
        </div> 

        <div class="card" style="margin: 20px 0;">
          <div class="card-header">ALUNO 2</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FREQUÊNCIA
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FALTA
              <span class="badge bg-primary rounded-pill">3</span>
            </li>	 
          </ul>
        </div> 

        <div class="card" style="margin: 20px 0;">
          <div class="card-header">ALUNO 3</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FREQUÊNCIA
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FALTA
              <span class="badge bg-primary rounded-pill">1</span>
            </li>	 
          </ul>
        </div> 

        <div class="card" style="margin: 20px 0;">
          <div class="card-header">ALUNO 4</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FREQUÊNCIA
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FALTA
              <span class="badge bg-primary rounded-pill">4</span>
            </li>	 
          </ul>
        </div> 

        <div class="card" style="margin: 20px 0;">
          <div class="card-header">ALUNO 5</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FREQUÊNCIA
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FALTA
              <span class="badge bg-primary rounded-pill">0</span>
            </li>	 
          </ul>
        </div> 
        <div class="card" style="margin: 20px 0;">
          <div class="card-header">ALUNO 6</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FREQUÊNCIA
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FALTA
              <span class="badge bg-primary rounded-pill">3</span>
            </li>	 
          </ul>
        </div> 

        <div class="card" style="margin: 20px 0;">
          <div class="card-header">ALUNO 7</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FREQUÊNCIA
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FALTA
              <span class="badge bg-primary rounded-pill">5</span>
            </li>	 
          </ul>
        </div> 

        <div class="card" style="margin: 20px 0;">
          <div class="card-header">ALUNO 8</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FREQUÊNCIA
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FALTA
              <span class="badge bg-primary rounded-pill">2</span>
            </li>	 
          </ul>
        </div> 
      </div>
    </div>
  </div>
{% endblock content %}