{% extends "app_cc/mainp.html" %}


{% block content %}

  <div class="main-content">
    <div class="profile-container">
      <div class="profile-header">
        <img src="https://avatars.githubusercontent.com/u/46529244?v=4" alt="Foto de Perfil">
        <h1>Vitória Becker</h1>
        <h3>Professor</h3>
      </div>

      <!-- estrutura do projeto -->
      <div class="projetos">
        <div class="container-projetos">
          <h4>Informações Pessoais</h4>
          <p class="line-1 anim-typewriter">Aluno do CESAR SCHOOL</p>
          <p>
            <span>TURMA: X</span> |
            <span>PERÍODO: X</span> |
            <span>STATUS: ATIVO</span>
          </p>
          <ol>
            <li> RA: 0000038498</li>
            <li> CURSO: CIÊNCIAS DA COMPUTAÇÃO</li>
            <li> EMAIL: VBAS@CESAR.SCHOOL</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
