<body class="p-3 m-0 border-0 bd-example m-0 border-0 custom-bg bg-orange">
    <!-- Example Code -->
    <nav class="navbar bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Conecta Cesar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Conecta Cesar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="avisosp.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="turmas.html">Turmas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="calendariop.html">Calendário</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="perfilp.html">Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="index.html">Sair</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </body>