{% extends "app_cc/mainp.html" %}

{% block content %}
  <style>
    .navbar-brand,
    .nav-link {
      color: black !important;
    }

    .navbar-toggler-icon,
    .bg-dark.text-light {
      background-color: white !important;
      color: black !important;
    }

    body {
      background-color: orange;
    }

    .rounded-5 {
      border-radius: 5%;
    }
  </style>

  <a href="frequenciap.html" style="text-decoration: none;"><h3 style="color: black; text-decoration: none; cursor: default;"><div class="bg-dark text-light p-5 rounded-4">
    <h3 style="color: black; text-decoration: none; cursor: default;">Turma A</h3>
    <p></p>
  </div></a>
  <br>
  <a href="frequenciap.html" style="text-decoration: none;"><h3 style="color: black; text-decoration: none; cursor: default;"><div class="bg-dark text-light p-5 rounded-4">
    <h3 style="color: black; text-decoration: none; cursor: default;">Turma B</h3>
    <p></p>
  </div></a>
  <br>
  <a href="frequenciap.html" style="text-decoration: none;"><h3 style="color: black; text-decoration: none; cursor: default;"><div class="bg-dark text-light p-5 rounded-4">
    <h3 style="color: black; text-decoration: none; cursor: default;">Turma C</h3>
    <p></p>
  </div></a>
  <br>
{% endblock content %}
  