{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</head>

<body class="custom-bg d-flex flex-column justify-content-center align-items-center vh-100">
  <div style="text-align: center;"><img src="{% static 'images/white-cesar.png' %}"  alt="logo cesar"></div>
  
  <div class=" container-fluid d-flex justify-content-center align-items-center vh-100">
    <form class="login-form" method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="mb-3">

        <label class="form-label ">Usuário</label>
        <div class="form-text-input"> 
        <input type="text" class="form-control form-input" name="username" required placeholder="Digite o nome de usuário">
      </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Senha</label>
        <div class="form-text-input"> 
        <input type="password" class="form-control"  name="senha" placeholder="Digite a senha"  required>
        </div>
      </div>

      <div class="login-button">
      <input type="submit" class="btn btn-primary" value="Entrar">
      </div>

      <div class="register-link text-center">
        Ainda não tem uma conta? <a href="{% url 'cadastro' %}">Registrar-se</a>
      </div>
    
      {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <div class="alert alert-success" role="alert">{{ message }}</div>
        {% else %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
      {% endfor %}
      {% endif %}
    </form>
  </div>

  <footer class="container-fluid text-center" style="padding-bottom: 10px; background-color: rgba(255, 255, 255, 0.8); bottom: -200; width: 100%;">
    <p>Para motivos de avaliação, deixamos algumas contas com relacionamentos configurados de professores, alunos, turmas e disciplinas. OBS: todas as senhas são 123.<br>
      Professores: Ricardo Costa, Carol Melo, Pamela Lins, Ricardo Cesar.<br>
      Alunos: Tiago Gurgel, Miguel Batista, Kauane Melo, Fernanda Ordonho, Rafael Barros, Vinicius Diniz.
    </p>
  </footer>
</body>
</html>
