{% extends 'app_cc/professor/mainp.html' %}
{% block content %}
<section>
    <h2>Adicionar Evento</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" required>
        </div>
        <div>
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao"></textarea>
        </div>
        <div>
            <label for="data">Data:</label>
            <input type="date" id="data" name="data" required>
        </div>
        <div>
            <label for="horario">Horário:</label>
            <input type="time" id="horario" name="horario">
        </div>
        <div>
            <label for="disciplina">Disciplina:</label>
            <select id="disciplina" name="disciplina" required>
                {% for disciplina in disciplinas %}
                    <option value="{{ disciplina.id }}">{{ disciplina.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Adicionar</button>
    </form>
</section>
{% endblock content %}
