{% extends "app_cc/professor/mainp.html" %}
{% load static %}

{% block content %}
<!-- Container principal -->
<div class="container mt-3 text-center">
  <!-- Avisos -->
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="card">
        <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAviso1" aria-expanded="false" aria-controls="collapseAviso1">
          Aviso 1
        </button>
        <div class="collapse" id="collapseAviso1">
          <div class="card-body">
            <img src="{% static 'images/aviso1.jpg' %}" class="img-fluid same-size-img" alt="Imagem 1">
            <p>Descrição do aviso 1</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="card">
        <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAviso2" aria-expanded="false" aria-controls="collapseAviso2">
          Aviso 2
        </button>
        <div class="collapse" id="collapseAviso2">
          <div class="card-body">
            <img src="{% static 'images/aviso2.jpg' %}" class="img-fluid same-size-img" alt="Imagem 2">
            <p>Descrição do aviso 2</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="card">
        <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAviso3" aria-expanded="false" aria-controls="collapseAviso3">
          Aviso 3
        </button>
        <div class="collapse" id="collapseAviso3">
          <div class="card-body">
            <img src="{% static 'images/aviso3.jpg' %}" class="img-fluid same-size-img" alt="Imagem 3">
            <p>Descrição do aviso 3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
