{% extends "app_cc/professor/mainp.html" %}

{% block content %}
<div class="container mt-4">
  <h2 class="text-center" style="font-size: 32px; font-weight: bold;">DISCIPLINAS</h2>
  <form method="post" action="{% url 'boletimp' %}">
    {% csrf_token %}
    <!-- Itera sobre as disciplinas e turmas -->
    {% for disciplina_info in disciplinas_com_turmas_e_alunos %}

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Disciplina: {{ disciplina_info.disciplina.nome }}</div>
        <div class="card-body">
          <!-- Itera sobre as turmas para separar os alunos -->
          {% for turma in disciplina_info.turmas %}
            <div class="card mb-3">
              <div class="card-header bg-secondary text-white">Turma: {{ turma.nome }}</div>
              <div class="card-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Aluno</th>
                      <th>Nota</th>
                      <th>Editar</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for aluno_info in disciplina_info.alunos_com_notas %}
                    {% if aluno_info.turma == turma %}
                        <tr>
                          <td>{{ aluno_info.aluno.usuario.username }}</td>
                          <td>{{ aluno_info.nota }}</td> <!-- Exibir a nota associada -->
                          <td>
                            <!-- Chave única para cada aluno-turma-disciplina -->
                            <input  style="height: 23px;" type="number" name="notas[{{ aluno_info.aluno.usuario.username }}-{{ turma.id }}-{{ disciplina_info.disciplina.id }}]" 
                            min="0" max="10" step="0.1" value="{{ aluno_info.nota }}">
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <!-- Botão para salvar as notas -->
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>
{% endblock %}
