{% extends "app_cc/professor/mainp.html" %}

{% block content %}
<div class="container mt-4">
  <h2 class="text-center" style="font-size: 32px; font-weight: bold;">DISCIPLINAS</h2>
  <form method="post" action="{% url 'boletimp' %}">
    {% csrf_token %}
    <!-- Itera sobre as disciplinas e turmas -->
    {% for disciplina_info in disciplinas_com_turmas_e_alunos %}

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Disciplina: {{ disciplina_info.disciplina.nome }}</div>
        <div class="card-body">
          <!-- Itera sobre as turmas para separar os alunos -->
          {% for turma in disciplina_info.turmas %}
            <div class="card mb-3">
              <div class="card-header bg-secondary text-white">Turma: {{ turma.nome }}</div>
              <div class="card-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Aluno</th>
                      <th>Nota</th>
                      <th>Editar</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for aluno_info in disciplina_info.alunos_com_notas %}
                    {% if aluno_info.turma == turma %}
                        <tr>
                          <td>{{ aluno_info.aluno.usuario.username }}</td>
                          <td>{{ aluno_info.nota }}</td> <!-- Exibir a nota associada -->
                          <td>
                            <!-- Chave única para cada aluno-turma-disciplina -->
                            <input  class="boletim_input" type="number" name="notas[{{ aluno_info.aluno.usuario.username }}-{{ turma.id }}-{{ disciplina_info.disciplina.id }}]" 
                            min="0" max="10" step="0.01" value="{{ aluno_info.nota }}">
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <!-- Botão para salvar as notas -->
    <button class="send text-center mt-4" style="display: block; margin: 0 auto;">
      <div class="svg-wrapper-1">
        <div class="svg-wrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path
              fill="currentColor"
              d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
            ></path>
          </svg>
        </div>
      </div>
      <span>Salvar</span>
    </button>    
  </form>
</div>
{% endblock %}
