{%extends "app_cc/professor/mainp.html" %}
{% load static %}
{%load i18n%}

{% block content %}
<link rel="stylesheet" href="{% static 'css/aviso2.css' %}" type="text/css">
<div class="container">
<h1>{{ aviso.titulo }}</h1>
<p>{{ aviso.corpo }}</p>
<div class="d-flex justify-content-center align-items-center flex-column">
    <a href="{% url 'avisosp' %}" class="download-button">
        <div class="svg-wrapper-1">
          <div class="svg-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
              </svg>
          </div>
        </div>
      </a>
    </div>
    <br>
{%if aviso.imagem %}
<img src="{{ aviso.imagem.url}}" alt="Imagem do aviso" class="imagem-aviso ">
{%else%}
<img src="#" alt="{{aviso.titulo}}" class="imagem-aviso ">
{%endif%}</div>
<br>
{% endblock content %}