{% extends 'app_cc/professor/mainp.html' %}
{% block content %}
<div class="container mt-4">  <!-- Adicionando espaço no topo -->
    <h1 class="text-center">DIÁRIO</h1>  <!-- Centralizar o título -->
    <form method="post">  <!-- Formulário para adicionar um diário -->
        {% csrf_token %}
        <div class="mb-3">
            <label for="disciplina" class="form-label">Disciplina:</label>
            <select class="form-select" name="disciplina" id="disciplina" required>  <!-- Seleção de disciplinas -->
                {% for disciplina in disciplinas %}
                    <option value="{{ disciplina.id }}">{{ disciplina.nome }}</option>  <!-- Disciplinas do professor -->
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="tituloDiario" class="form-label">Título do Diário:</label>
            <input type="text" class="form-control"  name="titulo" placeholder="Insira o título do diário" required>
        </div>

        <div class="mb-3">
            <label for="textoDiario" class="form-label">Texto do Diário:</label>
            <textarea class="form-control" name="texto" rows="5" placeholder="Digite o texto do diário" required></textarea>
        </div>

        <button class="send text-center mt-4" style="display: block; margin: 0 auto;">
            <div class="svg-wrapper-1">
              <div class="svg-wrapper">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="24"
                  height="24"
                >
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path
                    fill="currentColor"
                    d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                  ></path>
                </svg>
              </div>
            </div>
            <span>Enviar</span>
          </button>
          <br>
            <!-- Botão para enviar -->
    </form>

    <!-- Exibir diários salvos -->
    {% if diarios and diarios|length > 0 %}
    <h2 class="mt-4">Diários Salvos:</h2>
    <ul class="list-group">  <!-- Usar List Group para exibição -->
        {% for diario in diarios %}
        <li class="list-group-item">
            {{ diario.disciplina.nome }} - ({{ diario.data }})  <!-- Disciplina e data -->
            <br><strong>{{ diario.titulo }}</strong>  <!-- Título do diário -->
            <br>{{ diario.texto }}  <!-- Texto do diário -->
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="alert alert-warning text-center">Nenhum diário encontrado.</p>  <!-- Mensagem se não houver diários -->
    {% endif %}
</div>
<br>
{% endblock content %}
