{% extends "app_cc/professor/mainp.html" %}

{% block content %}
<div class="container">
  <h2>Registrar Faltas</h2>
  <form method="POST">
    {% csrf_token %}
    {% for disciplina_info in disciplinas_com_turmas_e_alunos %}
      <h3>Disciplina: {{ disciplina_info.disciplina.nome }}</h3>
      {% for turma_info in disciplina_info.turmas %}
        <h4>Turma: {{ turma_info.turma.nome }}</h4>
        {% for aluno_info in turma_info.alunos %}
          <div class="card" style="margin: 20px 0;">
            <div class="card-header">Aluno: {{ aluno_info.aluno.usuario.username }}</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Marcar Falta
                <input type="checkbox" name="falta[{{ aluno_info.aluno.id }}]" 
                {% if aluno_info.tem_falta_hoje %} checked {% endif %}>
              </li>
            </ul>
          </div>
        {% endfor %}
      {% endfor %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Registrar Faltas</button>
  </form>
</div>
{% endblock content %}
