{% extends "app_cc/professor/mainp.html" %}

{% block content %}
<div class="container mt-4">
  <h2 class="text-center">Registrar Faltas</h2>
  <form method="POST">
    {% csrf_token %}
    {% for disciplina_info in disciplinas_com_turmas_e_alunos %}
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Disciplina: {{ disciplina_info.disciplina.nome }}</div>
        <div class="card-body">
          {% for turma_info in disciplina_info.turmas %}
            <h4 class="card-title">Turma: {{ turma_info.turma.nome }}</h4>
            {% for aluno_info in turma_info.alunos %}
              <div class="card mb-2">
                <div class="card-header">Aluno: {{ aluno_info.aluno.usuario.username }}</div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <!-- CheckBox para marcar falta -->
                    <div>
                      Marcar Falta
                      <input type="checkbox" name="falta[{{ aluno_info.aluno.id }}-{{ disciplina_info.disciplina.id }}]" 
                        {% if aluno_info.tem_falta_hoje %} checked {% endif %}>
                    </div>
                    <!-- Total de faltas para a disciplina -->
                    <span class="badge bg-danger rounded-pill">{{ aluno_info.total_faltas }}</span>
                  </li>
                </ul>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <!-- Botão para enviar o formulário -->
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary">Registrar Faltas</button>
    </div>
  </form>
</div>
{% endblock %}
