{% extends "app_cc/professor/mainp.html" %}

{% block content %}
{% if messages %}
<div>
    {% for message in messages %}
        <div 
            class="alert alert-{% if 'success' in message.tags %}success{% elif 'error' in message.tags %}danger{% elif 'warning' in message.tags %}warning{% else %}info{% endif %}  fade show" 
            role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
<div class="main-content" style="margin-top: -50px">
    <div class="profile-container">
        <div class="profile-header">
            {% if foto_perfil %}
                <img src="{{ foto_perfil }}" alt="Foto de Perfil" style="width: 100px; height: 100px; object-fit: cover;">
            {% else %}
                <img src="https://via.placeholder.com/100" alt="Foto de Perfil">  <!-- Imagem padrão se não houver foto -->
            {% endif %}
            <form action="{% url 'perfilp' %}" method="post" enctype="multipart/form-data">  <!-- Importante definir enctype -->
              {% csrf_token %}
              <div class="form-group">
                  <input type="file" name="foto_perfil" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-primary">Atualizar Foto de Perfil</button>
              <br>
              
          </form>

          
            <h1>{{ nome }}</h1>
        </div>

        <div class="projetos">
            <div class="container-projetos">
                <h4>Informações Pessoais</h4>
                <p class="line-1 anim-typewriter">Professor(a) da CESAR SCHOOL</p>

                <ol>
                    <li>RA: {{ ra }}</li>
                    <li>CURSO: CIÊNCIAS DA COMPUTAÇÃO</li>
                    <li>EMAIL: {{ email }}</li>
                </ol>
                
          
            </div>
        </div>
    </div>
</div>
{% endblock %}
