{% extends "app_cc/professor/mainp.html" %}
{% load i18n %}
{%load static%}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/slidesp.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/buttons.css' %}" type="text/css">



<div class="container my-4">
    <h1 class="white-color text-center bold-text "> Área do <span class="orange-text">Professor</span></h1> <!-- Destaque para o total acumulado -->    

    <!-- Exibir mensagens de erro/sucesso com Bootstrap -->
    {% if messages %}
    <div>
        {% for message in messages %}
            <div 
                class="alert alert-{% if 'success' in message.tags %}success{% elif 'error' in message.tags %}danger{% elif 'warning' in message.tags %}warning{% else %}info{% endif %} fade show" 
                role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
        
    <div class="col-md-6 offset-md-3">  <!-- Centralizar no desktop, ajuste no mobile -->
        <div class="card my-4">  <!-- Usando cartão para organizar conteúdo -->
            <div class="card-body">
                
                <form action='{% url "slidesp" %}' method="POST" enctype="multipart/form-data" class="hour-form mb-4">
                    {% csrf_token %}
                    <div>
                        <div class="file-input-wrapper">
                            <!-- UPLOAD BUTTON -->
                            <button type="button" class="upload-button">
                                <input type="file" name="my_file" class="form-control" id="file-input" required>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z"/>
                                    <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                                </svg>
                            </button>
                        </div>
                        <!-- END BUTTON -->

                        <button class="send">
                            <div class="svg-wrapper-1">
                                <div class="svg-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                                    </svg>
                                </div>
                            </div>
                            <span>{%trans "Enviar"%}</span>
                        </button>

                        <!-- Preview da imagem -->
                        <div id="preview-container" style="display: none;">
                            <img id="image-preview" src="#" class="img-thumbnail mt-2" style="max-width: 100%; height: auto;">
                        </div>
                    </div>
                </form>

                <h5 class="orange-text"><strong>{%trans "Documentos Enviados"%}</strong> </h5>
                {% if arquivos %}
                    <div class="hour-blocks">  <!-- Lista para organização de itens -->
                        {% for arquivo in arquivos %}
                        <div class="list-group-item">
                            <div class="ml-3">
                                {{ arquivo.title|slice:":20" }}
                                <br>
                               {%trans "Horas Extras:"%} {{ arquivo.horas_extras }}
                                <img src="{{ arquivo.archive.url }}" width="60px" height="60px" style="object-fit: cover;" class="rounded img-thumbnail file-preview" alt="Preview">
                            </div>

                            <!-- Formulário para atualizar horas extras -->
                            <form id="myForm" action="{% url 'slide' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="update_file" value="{{ arquivo.id }}">
                                <input type="number" name="horas_extras" value="{{ arquivo.horas_extras }}" step="0.1" min="0.1" class="form-control form-control-sm" style="width: 100px;">
                                <!-- Botão de atualizar -->
                                <button type="submit" class="update-button" id="update-button-{{ arquivo.id }}">
                                    <div class="svg-wrapper-1">
                                        <div class="svg-wrapper">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                                                <path d="M11 2H9v3h2z"/>
                                                <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                                            </svg>
                                        </div>
                                    </div>
                                </button>
                            </form>

                            <!-- Formulário para deletar o arquivo -->
                            <form action="{% url 'slidesp' %}" method="POST">
                                {% csrf_token %}    
                                <input type="hidden" name="delete_file" value="{{ arquivo.id }}">
                                <!-- Botão de deletar -->
                                <button class="delete-button" onclick="return confirmDelete()">
                                    <div class="svg-wrapper-1">
                                        <div class="svg-wrapper">
                                            <svg viewBox="0 0 16 16" class="bi bi-trash3-fill" fill="currentColor" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                            </svg>
                                        </div>
                                    </div>
                                </button>
                            </form>

                            <!-- Botão de download -->
                            <a href="{{ arquivo.archive.url }}" download class="download-button">
                                <div class="svg-wrapper-1">
                                    <div class="svg-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-warning">{%trans "Você ainda não enviou arquivos."%}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        function confirmDelete() {
            return confirm("Você tem certeza que deseja excluir o arquivo?");
        }
        // Adiciona um ouvinte de evento ao campo de upload
        document.getElementById('file-input').addEventListener('change', function(event) {
            // Obtém o arquivo selecionado
            var file = event.target.files[0];

            // Verifica se um arquivo foi selecionado
            if (file) {
                // Cria um objeto URL para a imagem selecionada
                var imageURL = URL.createObjectURL(file);

                // Obtém a pré-visualização da imagem existente
                var imagePreview = document.getElementById('image-preview');

                // Atualiza o atributo src da imagem existente
                imagePreview.src = imageURL;

                // Exibe o container de pré-visualização
                var previewContainer = document.getElementById('preview-container');
                previewContainer.style.display = 'block'; // Exibe o container
            }
        });
    </script>
</div>
{% endblock %}
