{% extends 'app_cc/aluno/main.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/add_todo_item.css' %}" type="text/css">

<header>
    <h1 class="text-center white-color">Adicionar Item</h1>
</header>

<form method="post" action="{% url 'add_todo_item' todo_list.id %}">
    {% csrf_token %}
    <div class="form-group text-center">
        <label for="content">Tarefa:</label>
        <input type="text" id="content" name="content" required>
    </div>
    <div class="form-group text-center">
        <label for="priority">Prioridade:</label>
        <select id="priority" name="priority" required>
            <option value="low">Baixa</option>
            <option value="medium">Média</option>
            <option value="high">Alta</option>
        </select>
    </div>
    <br>
    <div class="text-center"><button type="submit">Adicionar</button></div>
</form>

{% endblock %}
