{% extends "app_cc/aluno/main.html" %}
{% load static %}



{% load i18n %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/aviso.css' %}" type="text/css">


  <div class="container">
    <h1><strong>Notícias e <span>Avisos</span> </strong></h1>
    <div class="news-carousel">

        {% for aviso in avisos %}
        <div class="news-item">
          {% if aviso.imagem %}
          <img src="{{ aviso.imagem.url }}" alt="{{ aviso.titulo }}">
      {% else %}
          <p>Sem imagem disponível</p>
      {% endif %}          <h3>{{aviso.titulo}}</h3>
          <a href="{% url 'detalhe_aviso' aviso.id %}">LEIA MAIS »</a>
          <p>4 de Abril, 2024</p>
      </div>
        {% endfor %}
          </div>
        </div>

          <script src="https://code.jquery.com/jquery-3.6.0.min.js">
              $(document).ready(function(){
                  $('.news-carousel').slick({
                      autoplay: true,
                      autoplaySpeed: 3000,
                      dots: true,
                      arrows: true,
                  });
              });
          </script>

{% endblock content %}