{% extends "app_cc/aluno/main.html" %}

{% block content %}

  <div class="container">
    <h2 class="text-center mb-4" style="font-size: 32px; font-weight: lighter;">DISCIPLINAS</h2>
    
    {% for disciplina, nota_instance in disciplinas_com_notas %}
    <div class="grade-container">
      <h5>{{ disciplina }}</h5>
      <div class="nota-container">
        <p class="grade-text">
          {% if nota_instance %}
            <h5>{{ nota_instance.valor }}</h5> <!-- Mostrar o valor da nota -->
          {% else %}
            <h5>Nenhuma nota registrada</h5>
          {% endif %}
        </p>
      </div>
    </div>
    {% empty %}
    <p>Nenhuma disciplina encontrada.</p>
    {% endfor %}
    
  </div>

  <div class="text-end mt-3">
    <button class="orange-button" onclick="window.location.href='mediag.html'"></button>
  </div>

{% endblock content %}
