{% extends 'app_cc/aluno/main.html' %}

{% block content %}
<div class="container mt-4">  <!-- Espaçamento no topo -->
  <h1 class="text-center"><strong>DIÁRIO</strong></h1>  <!-- Título centralizado -->
  
  {% if error %}  <!-- Caso de erro -->
    <div class="alert alert-danger text-center">  <!-- Mensagem de erro -->
      {{ error }}
    </div>
  {% else %}
    {% if diarios and diarios|length > 0 %}
    <h2 class="mt-4 diario-title">Últimos Diários</h2>  <!-- Título para a lista de diários -->
    <ul class="list-group">  <!-- List Group para exibição -->
        {% for diario in diarios %}
        <li class="list-group-item diario-box">
            {{ diario.disciplina.nome }} - ({{ diario.data }})  <!-- Disciplina e data -->
            <br><strong>{{ diario.titulo }}</strong>  <!-- Título do diário -->
            <br>{{ diario.texto }}  <!-- Texto do diário -->
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="alert alert-warning text-center">Nenhum diário encontrado.</p>  <!-- Mensagem se não houver diários -->
    {% endif %}
  {% endif %}
</div>
{% endblock content %}
