{% extends "app_cc/aluno/main.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/frequencia.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

<div class="container ">  <!-- Espaço no topo -->
  <h2 class="text-center orange-text ">{% trans "Faltas e Frequência" %}</h2>  <!-- Título centralizado -->
  {% for disciplina_info in disciplinas_com_faltas %}
    <div class="card mb-4 container-color">  <!-- Card para cada disciplina -->
      <!-- Substitua `bg-info` por um estilo inline para usar a cor desejada -->
      <div class="card-header bold-text white-color">{{ disciplina_info.disciplina.nome }}</div>  <!-- Cabeçalho com cor personalizada -->
      <div class="card-body">  <!-- Corpo do Card -->
        <ul class="list-group">  <!-- Lista para formatação -->
          <li class="list-group-item d-flex justify-content-between align-items-center frequency-box underline-border">  <!-- Espaçamento entre elementos -->
            {% trans "Faltas" %}
            <span class=" frequency-cont">{{ disciplina_info.faltas }}</span>  <!-- Total de faltas por disciplina -->
          </li>
          <li class=" frequency-box list-group-item d-flex justify-content-between align-items-center">  <!-- Espaçamento para frequência -->
            {% trans "Frequência" %}
            <span class="frequency-badge badge bg-success rounded-pill">{{ disciplina_info.frequencia|floatformat:1 }}%</span>  <!-- Frequência percentual -->
          </li>
        </ul>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
