{% load static %}

<!doctype html>
<html lang="PT-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <title>Conecta Cesar - Home</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0 custom-bg">

  <!-- Example Code -->
  <!-- Historia 4 "Como aluno gostaria de receber avisos importantes pelo site -->

  <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'avisos' %}"><img width="5%" src="{% static 'images/cesarschool.png' %}" alt="logo">Conecta Cesar</a><!--Links-->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img width="15%" src="{% static 'images/cesarschool.png' %}" alt="logo"> Conecta Cesar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'avisos' %}"><img width="5%" src="{% static 'images/home.png' %}" alt="home"> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'calendario' %}"><img width="5%" src="{% static 'images/calendário.png' %}" alt="calendário">  Calendário</a><!--Links-->
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><img width="5%" src="{% static 'images/avaliacao.png' %}" alt="avaliação"> 
                 Avaliação
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'boletim' %}"><img width="5%" src="{% static 'images/boletim.png' %}" alt="boletim">  Boletim</a></li><!--Links-->
                <li><a class="dropdown-item" href="{% url 'frequencia' %}"><img width="7%" src="{% static 'images/frequencia.png' %}" alt="frequência">  Frequência</a></li><!--Links-->
              </ul>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'perfil' %}"><img width="5%" src="{% static 'images/perfil.png' %}" alt="perfil"></img> Perfil</a><!--Links-->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'hora_extra'%}"><img width="5%" src="{% static 'images/hora.png' %}" alt="Hora Extra"> Hora Extra</a><!--Links-->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'diario' %}"><img width="5%" src="{% static 'images/diario.png' %}" alt="Diário">  Diário</a><!--Links-->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/"><img width="5%" src="{% static 'images/sair.png' %}" alt="sair"></img> Sair</a><!--Links-->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock content %}

</body>
</html>
   
