{% extends "app_cc/aluno/main.html" %}


{% block content %}

  <div class="main-content"style="margin-top: -50px">
    <div class="profile-container">
      <div class="profile-header">
        <img src="https://avatars.githubusercontent.com/u/46529244?v=4" alt="Foto de Perfil">
        <h1>{{nome}}</h1>
      </div>

      <!-- estrutura do projeto -->
      <div class="projetos">
        <div class="container-projetos">
          <h4>Informações Pessoais</h4>
          <p class="line-1 anim-typewriter">Aluno(a) da CESAR SCHOOL</p>
          
          <ol>
            <li> RA: {{ra}}</li>
            <li> CURSO: CIÊNCIAS DA COMPUTAÇÃO</li>
            <li> EMAIL: {{email}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
